
# Local .terraform directories
VPC/.terraform/*

# .tfstate files
VPC/*.tfstate
VPC/*.tfstate.*

# SSH Keys
*.pem
*.pub
Mid-proj

#credentials
instances/k8sfiles/credentials
instances/yamlfiles/templates/add_gitdocker_cred.groovy
instances/k8sfiles/MYSQL_PWD